# "I love everything() from the tidyverse"  

- toc: false
- badges: false
- comments: true
- categories: [r, python, pandas, tidyverse]
- image: images/heart.png

![](my_icons/heart.png)

It is probably true that I love everything from the tidyverse, full stop, but in this case parens matter. Reordering columns happens a bunch and it can be a pain, but `everything()` allows for easy manipulation of columns in a dataframe. Let's give it a go.

## How I'd do it in Python

Say I have some data on rainfall and I want to add a column for the decade in which the reading was taken (Source: [tidytuesday](https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-01-07/readme.md)).

In [2]:
install.packages('reticulate')

also installing the dependency ‘rappdirs’


Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [23]:
library(reticulate)

In [24]:
pd = import("pandas")

In [25]:
df = pd$read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-07/rainfall.csv')
df["decade"] = df$year %/% 10 * 10

In [16]:
head(df)

  station_code city_name year month day rainfall period quality lat    long
1 9151         Perth     1967 1     1   NaN      NaN    NaN     -31.96 115.79
2 9151         Perth     1967 1     2   NaN      NaN    NaN     -31.96 115.79
3 9151         Perth     1967 1     3   NaN      NaN    NaN     -31.96 115.79
4 9151         Perth     1967 1     4   NaN      NaN    NaN     -31.96 115.79
5 9151         Perth     1967 1     5   NaN      NaN    NaN     -31.96 115.79
6 9151         Perth     1967 1     6   NaN      NaN    NaN     -31.96 115.79
  station_name                       decade
1 Subiaco Wastewater Treatment Plant 1960
2 Subiaco Wastewater Treatment Plant 1960
3 Subiaco Wastewater Treatment Plant 1960
4 Subiaco Wastewater Treatment Plant 1960
5 Subiaco Wastewater Treatment Plant 1960
6 Subiaco Wastewater Treatment Plant 1960

If I create a new column, it is tacked onto the end of the dataframe, but I'd prefer the `decade` and `year` columns to be closer together. In python, I find this to be kind of a pain since you need to know the column index and you have to do conversions and junk ([insert](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.insert.html) is also an option, but you have to drop duplicate columns...it's a whole deal):

```
cols = list(df.columns)
# manual ordering of list...ewww
cols = cols[:3] + [cols[-1]] + cols[3:-1]

df[cols].head()
```

## How Tidyverse does it

I find it much easier to manipulate the column names. In comes `everything()` to the rescue. Combining with `select()`, you can get pretty fancy.

In [26]:
library(tidyverse)

rainfall <- suppressMessages(read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-07/rainfall.csv')) %>% 
  mutate(decade = year %/% 10 * 10)

In [27]:
# drop it right into place
rainfall %>% 
  select(station_code:year, decade, everything()) %>%
  head()

  station_code city_name year decade month day rainfall period quality lat
1 009151       Perth     1967 1960   01    01  NA       NA     NA      -31.96
2 009151       Perth     1967 1960   01    02  NA       NA     NA      -31.96
3 009151       Perth     1967 1960   01    03  NA       NA     NA      -31.96
4 009151       Perth     1967 1960   01    04  NA       NA     NA      -31.96
5 009151       Perth     1967 1960   01    05  NA       NA     NA      -31.96
6 009151       Perth     1967 1960   01    06  NA       NA     NA      -31.96
  long   station_name
1 115.79 Subiaco Wastewater Treatment Plant
2 115.79 Subiaco Wastewater Treatment Plant
3 115.79 Subiaco Wastewater Treatment Plant
4 115.79 Subiaco Wastewater Treatment Plant
5 115.79 Subiaco Wastewater Treatment Plant
6 115.79 Subiaco Wastewater Treatment Plant

The reason I love `everything()` is you don't have to think about it. Get the thing in place then shove the rest on and it'll deal with it nicely. Also learned after writing this that [`last_col()`](https://www.rdocumentation.org/packages/tidyselect/versions/1.0.0/topics/select_helpers) is also available to help out. 

#### Image Credit
[Heart](https://thenounproject.com/search/?creator=4129988&q=love&i=1894377) by Zach Bogart from [the Noun Project](https://thenounproject.com/)